.header-module {
  &__ {
    &container {
      .router-link-active {
        color: #198754;
      }

      a {
        font-weight: 600;
        color: #000000;
      }

      padding: 12px 0;
    }
  }

  background-color: #e2e2e2;
}
