.header-module {
  .fa.fa-sign-out {
    color: var(--grays-1);
    font-size: 20px;
  }

  &__ {
    &container {
      .router-link-active {
        color: var(--green-1);
      }

      button,
      a {
        text-transform: uppercase;
      }

      a {
        text-decoration: none;
        font-weight: var(--bold);
        color: var(--black-1);
      }

      padding: 12px 0 12px 0;
    }
  }

  background: var(--white-1);
}
