.header-module {
  &__ {
    &container {
      .router-link-active {
        color: var(--green-1);
      }

      a{
        text-decoration: none;
        font-weight: var(--bold);
        color: var(--black-1);
      }

      padding: 12px 0 12px 0;
    }
  }

  background: var(--white-1);
}
